header{
		height: 20vh;
		min-height: 100px;
}

#main{
		min-height: 400px;
		padding: 0px 4vw;
		background: lightgray;
}

.cards {
		min-height: 300px;
		height: 100%;
    display: flex;
			display: -webkit-flex;
		flex-direction: row;
			-webkit-flex-direction: row;
		flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
		align-items: center;
			-webkit-align-items: flex-start;
		justify-content: center;
			-webkit-justify-content: center;
		padding: 10px;
		
}

.card{
	width: 300px;
	height: 360px;
	overflow: hidden;
	background: white;
	margin: 10px;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 4px 6px rgba(0,0,0,0.23);
	transition: all 0.1s;
}

.card:hover{
  box-shadow: 0 12px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
	transform: scale(1.02);
/*	height: calc(360px*1.02);*/
/*	width: calc(300px*1.02);*/
}

div.image{
		height: 61.8%;
		width: 100%;
		text-align: center;
}

.card img{
	height: 100%;
	max-width: 500px;
	margin-left: 50%;
	transform: translateX(-50%);
}

h3.title{
	font-family: 'Roboto', sans-serif;
	font-size: 16sp;
	margin: 12px 10px 4px 10px;
	height: 1.2em;
}
p.description{
	font-family: 'Open Sans', sans-serif;
	font-size: 14sp;
	margin: 4px 10px 4px 10px;
	line-height: 1.5em; 
	height: 4em;
}

a.button{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 20px 16px;
	color: forestgreen;
	text-decoration: none;
	transition: all 0.2s;
}

a.button:hover{
	color: dodgerblue;
	font-weight: bold;
}
