body{
	font-size: 16px;
	background: lightgray;
}

header{
		height: 20vh;
		min-height: 204px;
		max-height: 220px;
		position: relative;
}

header #backdrop{
	height: 100%;
	width: 100%;
	background: url(img/detroit.jpg);
	background-size: cover;
	background-position: center;
}

.gradient {
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0.8;
		background: #7b4397; /* fallback for old browsers */
		background: -webkit-linear-gradient(to left, #7b4397 , #dc2430); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to left, #7b4397 , #dc2430); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.overlay h1.name{
	color: white;
	font-size: 4em;
	text-align: center;
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
/*	line-height: 0.8em;*/
	margin: 15px auto 8px auto;
}

.overlay h2.title{
	color: white;
	font-size: 2em;
	text-align: center;
	font-family: 'Leckerli One', sans-serif;
	font-weight: lighter;
/*	text-transform: uppercase;*/
/*	line-height: 0.5em;*/
	margin: 0;
}

ul{
	list-style: none;
	margin: auto;
	padding-left: 0px;
}

li{
	display: inline;
	margin: auto 12px;
}
a.links{
	margin: auto;
}

img.github{
	width: 32px;
	margin: 4px;
	transition: all 0.2s;
}

img.email{
	width: 32px;
	margin: 6px;
	transition: all 0.2s;
}

a.links img{
	display: inline;
}

.links img:hover{
	transform: scale(1.2);
}

#main{
		min-height: 400px;
		padding: 2rem 4vw 0px 4vw;
		position: relative;
}

.cards {
		min-height: 300px;
		height: 100%;
    display: flex;
			display: -webkit-flex;
		flex-direction: row;
			-webkit-flex-direction: row;
		flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
		align-items: center;
			-webkit-align-items: flex-start;
		justify-content: center;
			-webkit-justify-content: center;
		padding: 10px;
		
}

.card{
	width: 300px;
	height: 360px;
	overflow: hidden;
	background: white;
	margin: 10px;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.19), 0 4px 6px rgba(0,0,0,0.23);
	transition: all 0.2s ease-in;
}

.card:hover{
	box-shadow: 0 12px 20px rgba(0,0,0,0.19), 0 8px 8px rgba(0,0,0,0.23);
	/* transform: scale(1.02); */
	/* background: #f0f0f1; */
}


div.image{
		height: 61.8%;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		background: white;
}

.card img{
	height: 100%;
}

h3.title{
	font-family: 'Roboto', sans-serif;
	font-size: 16sp;
	margin: 12px 10px 4px 10px;
	height: 1.2em;
}
p.description{
	font-family: 'Open Sans', sans-serif;
	font-size: 14sp;
	margin: 4px 10px 4px 10px;
	line-height: 1.5em; 
	height: 4em;
}

a.button{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	margin: 20px 16px;
	color: forestgreen;
	text-decoration: none;
	transition: all 0.2s;
	user-select: none;
}

a.button:not(.deactive):hover{
	color: dodgerblue;
	font-weight: bold;
}


a.deactive {
	color: #ddd;
	cursor: default;
}

/* ============== Music Player ============== */

p.motto{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 8px;
	color: #E0218A;
}

hr.motto{
	width: 372px;
	border: dotted 1px #adadad;
}

div.player{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 8px;
}
div.player img{
	margin-bottom: 12px;
}

img.play{
	transition: all 0.4s;	
}

img.play:hover {
	cursor: pointer;
}

div.progress{
	position: relative;
	height: 24px;
	min-width: 100px;
	margin: 0px 12px;
}

div.progress div.bar{
	width: 100px;
	max-width: 50vw;
	height: 4px;
	background-color: #E0218A;
	position: absolute;
	top: 10px;
}

div.progress div.dot{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #E0218A;
	position: absolute;
	top: 2px;
	left: 0px;
	margin-left: 4px;
}

/* ================ Tool tip ================ */

.tooltip{
	position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
	position: absolute;
	top: 40px;
	transform: translateX(-75px);
    z-index: 1;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	margin-top: 20px;
}

/* ============= Footer ============== */
footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 60px;
}

footer a{
	margin: auto;
	margin-top: 20px;
	display: block;
	padding: 24px 36px;
	margin-bottom: 40px;
}

a.large_btn{
	background:#0077B5;
	color: white;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	border: none;
	transition: all 0.3s ease;
	box-shadow: 0px 0px 5px grey;
	border-radius: 2px;
	text-decoration: none;
	min-width: 300px;
	text-align: center;
}

a.large_btn:first-child{
	margin-bottom: 1rem;
}

a.large_btn:hover{
	background: #B72936;
	cursor: pointer;
}



@media (max-width:610px){

	#main{
		padding-top: 1rem;
	}

	.overlay h1.name {
		font-size: 3em;	
		margin-top: 10px;	
	}

	.overlay h2.title{
		font-size: 2em;
		max-width: 90vw;
		margin: auto;
	}
	
}

@media (max-width:448px){

	.overlay h1 {
		font-size: 2.2em;		
	}
	
	div.player{
		right: 2vw;
	}

	div.player{
		margin-top: 10px;
	}

	
}